<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shristi23</title>
  </head>
  <body>
    <p>testing alert</p>
    <div id="popup" class="popup">
      <div class="popup-content">
        <span class="close" onclick="closePopup()">&times;</span>
        <p style="color: black; font-weight: bold">This is a popup window</p>
      </div>
    </div>
    <a id="click" href="">Btn</a>
  </body>
</html>

<script>
  const btn = document.querySelector("#click");

  btn.addEventListener("click", openPopup);
  /* Open the popup */
  function openPopup() {
    document.getElementById("popup").style.display = "block";
  }

  /* Close the popup */
  function closePopup() {
    document.getElementById("popup").style.display = "none";
  }
</script>
